@charset "utf-8";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

html, body {
  height: 100%;
}

body {
  background-color: #f8f8f8;
  font-family: 'Muli', sans-serif;
}

.sebm-google-map-container {
  width: 450px;
  height: 450px;
}


.md-whiteframe-z2 {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
